/* NAV BAR PRIMARY */
#primary {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 20px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
#secondary {
    display: flex;
    justify-content: space-between;
    border-block: 1px solid var(--stroke-color);
    padding-block: 14px;
}
